<!-- reach out start -->

<section class="reach-out">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-12">
                <div class="reach-txt">
                    <h4>Reach Out</h4>
                    <p>We’re new and still settling in, but we’re always looking for team members, strategic partners, sponsors, and investors to bring something unique to Vie.</p>
                    <p>Reach out and say hi and let’s talk about how we can impact the world through play and giving, or request more information regarding our many upcoming events, programs, and products:</p>
                    <ul>
                        <li>
                            <p>World Golf & Charity Cup – funding NPOs while playing 33,000+ golf courses worldwide</p>
                        </li>
                        <li>
                            <p>96Now™ and Vie for Good℠ card – funding disaster aid at the 'Speed of Need’</p>
                        </li>
                        <li>
                            <p>Educate to Elevate3 – funding K-12 faith-based education, sports, arts, family, and after-school programs</p>
                        </li>
                        <li>
                            <p>Cancer Cure & Care Challenge</p>
                        </li>
                        <!-- <li><p>Funding Olympic level athletes – funding elite level athletes to train year ‘round.</p></li> -->
                        <!-- <li><p>Supporting Disabled persons/athletes programs – funding and connecting disabled persons through sports activity</p></li> -->
                        <!-- <li><p>Funding student NIL and Tuition – gamifying giving to fund student athlete and school tuition fees</p></li> -->
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <div class="let">
                    <!-- <p>5 min read</p> -->
                    <h3>How Can We Help?</h3>
                    <div class="let-form">
                        <form id="contact-form-mera" method="POST" data-noinfo="true" class="CrudForm contact-form plan-form" action="sendmail.php">
                            <div class="row">
                                <div class="col-12 col-md-12 col-lg-12 ">
                                    <input type="name" name="name" placeholder="Name">
                                </div>
                                <div class="col-12 col-md-12 col-lg-12 ">
                                    <input type="email" name="email" placeholder="Email">
                                </div>
                                <div class="col-12 col-md-12 col-lg-12 ">
                                    <select name="service">
                                        <option>NPO Inquiries</option>
                                        <option>Partnership Opportunities</option>
                                        <option>Investment Opportunities</option>
                                        <option>Join Our Team</option>
                                        <option>Technical Support</option>
                                        <option>Other</option>
                                    </select>
                                </div>
                                <div class="col-lg-12 col-md-12 col-12">
                                    <textarea name="message" placeholder="Type your message"></textarea>
                                    <button type="submit">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- reach out end -->


<footer>
    <div class="container">
        <div class="row">

            <div class="col-12 col-md-6 col-lg-6">
                <div class="footer-logo">
                    <img src="images/footer-logo.png" alt="img">
                    <p>Play for Good</p>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-6 text-end">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="footer-links">
                            <h5>About Vie</h5>
                            <ul>
                                <!-- <li><a href="#">About Vie</a></li>
              <li><a href="#">Home to Vie</a></li> -->
                                <!-- <li><a href="how-to-vie.html">How to Vie</a></li> -->
                                <li><a href="index.html">Home</a></li>
                                <li><a href="team.html">Team</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="footer-links">
                            <h5>Resources</h5>
                            <ul>
                                <!-- <li><a href="#">Support</a></li> -->
                                <!-- <li><a href="#">Reach Out</a></li> -->
                                <li><a href="contact.html">Contact</a></li>
                                <li><a href="https://vieforgood.com/terms">Terms & Conditions</a></li>
                                <li><a href="https://vieforgood.com/policy">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-lg-12 col-12">
                <div class="foter-social">
                    <p>© Vie 2024 All rights Reserved.</p>
                    <ul>
                        <!-- <li><a href="#"><i class="fab fa-youtube"></i></a></li>  
              <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
              <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram-square"></i></a></li> -->
                        <li><a href="mailto:support@vieforgood.com" ><i class="fas fa-envelope"></i></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</footer>