<!-- header strat -->

<header>

    <div class="topSec">

        <div class="container">

            <div class="row">

                <div class="col-md-3    ">

                    <div class="top-bar-left">



                    </div>

                </div>

                <div class="col-md-3    ">

                    <div class="top-bar-right">



                    </div>

                </div>

                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

                </div>

            </div>

        </div>

    </div>



    <div class="menuSec">

        <div class="container">

            <div class="row align-items-center justify-content-between">



                <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12 col-12 p-0">

                    <div class="header-logo">

                        <a href="index.html"><img src="images/logo.png" alt="img"></a>

                        <p>Play for Good</p>

                    </div>

                </div>



                <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12 col-12 p-0">

                    <ul id="act">

                        <li><a href="index.html">Home</a></li>

                        <li><a href="team.html">Team</a></li>

                        <li><a href="contact.html">Contact</a></li>

                    </ul>

                </div>



            </div>

        </div>

    </div>

</header>

<!-- header strat -->